<div class="navbar navbar-expand-sm navbar-light navbar-lewagon row mx-0 navbar fixed-top"
    data-controller="navbar"
    data-action="scroll@window->navbar#updateNavbar">
  <div class="navbar-left">
    <%= link_to( "/", class: "navbar-brand d-flex") do %>
      <img src="https://res.cloudinary.com/dkh3jftp2/image/upload/v1655299282/development/Satono_Logo_wlmrmi.webp" alt="logo">
    <% end %>
  </div>
  <div class="navbar-right">
    <ul class="navbar-nav nav-link">
      <li><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li><a href="#scroll-about" class="nav-link">About Us</a></li>
      <li><a href="#scroll-portfolio" class="nav-link">Portfolio</a></li>
      <li><a href="#scroll-contact" class="nav-link">Contact</a></li>
    </ul>
  </div>
</div>
