<%= render "shared/navbar" %>

<div class="container home">
  <div class="banner">
    <div class="row mx-0">
      <div class="banner-text">
        <h1>We support founders lorem ipsum lorem ipsum.</h1>
        <p>Lorem Ipsum.</p>
          <div class="chevrons">
            <a href="#scroll-about">
              <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
          </div>
      </div>
    </div>
  </div>

  <div class="about-us" id="scroll-about">
    <h1>About us</h1>
    <p>We are a team of developpers and lawyers obssessed with efficiency. Our ambition is to design tools for lawyers to reduce their time spent on repetitive tasks.</p>
  </div>

  <div class="portfolio" id="scroll-portfolio">
    <h1>Portfolio</h1>

    <div class="portfolio-cards d-flex justify-content-between">
      <div class="portfolio-card">
        <h3>Investment 1</h3>
        <p>Lorem ipsum...</p>
      </div>

      <div class="portfolio-card">
        <h3>Investment 2</h3>
        <p>Lorem ipsum...</p>
      </div>

      <div class="portfolio-card">
        <h3>Investment 3</h3>
        <p>Lorem ipsum...</p>
      </div>

    <div class="chevron-right">
      <a>
        <i class="fa-solid fa-circle-chevron-right"></i>
      </a>
    </div>

    </div>

    </div>
  </div>

  <div class="contact" id="scroll-contact">
    <h1>Contact us</h1>
    <p>For general enquiries and pitch decks, please contact us at:</p>
    <%= mail_to 'info@satono.com', class: "text-decoration-none px-2 text-dark" do %>
      <p>info@satono.com</p>
    <% end %>
    <a href="https://www.linkedin.com/in/frederikbrandis/" target="_blank" class="linkedin">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>



</div>
<%= render "shared/footer" %>
